@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100,200,&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

*::before, *::after{
    padding: 0;
    margin: 0;
}

:root{
    --purple:#892CDC;
    --violet:#BC6FF1;
    --violet-dark:#52057B;
    --white:#fff;
    --white-dark:#cecaca;
    --purpleshadow:#E384FF;
    --lightbshadow:rgba(0,0,0,0.15);
}

body{
    width:100%;
    height: 100vh;
    animation: animate 10s linear infinite;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

@Keyframes animate{
    0%{
        background:#9c27b0;
    }
    20%{
        background:#ff5722;
    }
    40%{
        background:yellowgreen;
    }
    60%{
        background:rgb(15, 105, 15);
    }
    80%{
        background:#2196f3;
    }
    100%{
        background:#9c27b0;
    }
}


.wrapper{
    width: 350px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;    
    padding: 25px 30px;
    background-color: var(--white);
    box-shadow: 0px 6px 15px var(--lightbshadow);
}

.wrapper i{
    cursor: pointer;
}

.top-bar, .progress-area .timer, .controls, .music-list .header, .music-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar i{
    font-size: 30px;
    color: var(--violet-dark);
}

.top-bar span{
    font-size: 18px;
    color: var(--violet-dark);
}

.img-area{
    height: 100%;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.img-area img{
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 6px 20px var(--lightbshadow);
}

.song-details{
    text-align: center;
    margin: 30px 0;
    color: var(--violet-dark);
}

.song-details .name{
    font-size: 21px;
}

.song-details .artist{
    opacity: 0.9;
    font-size: 18px;
}

.progress-area{
    height: 6px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 50px;
    cursor: pointer;
}

.progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--purple)0%, var(--violet));
}

.progress-bar::before{
    content: "";
    position:absolute;
    height: 12px;
    width: 12px;
    background: #000;
    border-radius: inherit;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    background: inherit;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before{
    opacity: 1;
}

.progress-area .timer{
    margin-top: 2px;
}

.timer span{
    font-size: 13px;
    color: var(--violet-dark);
}

.controls{
    margin: 40px 0 5px 0;
}

.controls i{
    font-size: 28px;
    user-select: none;
    background: linear-gradient(var(--purple)0%, var(--violet));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.controls i:nth-child(2),
.controls i:nth-child(4){
    font-size: 43px;
}

.controls #prev{
    margin-right: -13px;
    transition: transform 0.1s;
}
.controls #prev:active{
    transform:translateY(1px);
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.controls #next{
    margin-left: -13px;
}

.controls #next:active{
    transform:translateY(1px);
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.controls #repeat-plist:active{
    transform:translateY(1px);
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.controls #more-music:active{
    transform:translateY(1px);
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.controls .play-pause{
    height: 54px;
    width: 54px;
    background: linear-gradient(var(--white)0%, var(--white-dark));
    box-shadow: 0px 0px 5px var(--purple);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls .play-pause:active{
    transform:translateY(1px);
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.play-pause::before{
    content: "";
    position: absolute;
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: linear-gradient(var(--purple) 0%, var(--violet));
}

.play-pause i{
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    border-radius: inherit;
    background-clip: text;
    background: inherit;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.music-list{
    position: absolute;
    left: 0;
    bottom: -61%;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    padding: 15px 30px;
    border-radius: 15px;
    background: var(--white);
    box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
    transition: all 0.2s ease-out;
}

.music-list.show{
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

.music-list .header .row{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: var(--violet-dark);
}

.header .row i{
    cursor: default;
}

.header .row span{
    margin-left: 5px;
}

.header #close{
    font-size: 22px ;
    color: var(--violet-dark);   
}

.music-list ul{
    margin: 10px 0;
    max-height: 260px;
    overflow-y: auto;
}

.music-list ul::-webkit-scrollbar{
    display: none;
}


.music-list ul li{
    cursor: pointer;
    list-style: none;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: var(--violet-dark); 
    border-bottom: 1px solid #e5e5e5;
}

.music-list ul li:last-child{
    border-bottom: 0px;
}

.music-list ul li .row span{
    font-size: 17px;
}

ul li .row p{
    opacity: 0.9;
}

ul li .audio-duration{
    font-size: 16px;
}

ul li .playing{
    color: red;
    pointer-events: none;
}